<h1><%= @user.new_record? ? 'Create new user': 'User Details' %></h1>

<%= validation_box @user %>

<div class="form">
<% form_for 'user', :url => {:search => params['search'], :status => params['status']} do |f| %>
	<label for="user_email">Email:</label>
	<%= f.text_field :email %>
	<label for="user_password">Password:</label>
	<%= f.password_field :password %>
	<label for="user_password_confirmation">Password (again):</label>
	<%= f.password_field :password_confirmation %>
	<hr/>

	<label for="user_first_name">First name:</label>
	<%= f.text_field :first_name %>
	<label for="user_last_name">Last name:</label>
	<%= f.text_field :last_name %>
	<label for="user_gender">Gender:</label>
	<%= f.select :gender, switch_keys_and_values(User::GENDERS), !@user.gender %>
	<hr/>
	
	<label for="user_home_country_id">Home Country:</label>
	<%= f.select :home_country_id, Country.all, !@user.home_country_id %>
	<label for="user_spoken_languages">Spoken languages:</label>
	<%= f.text_field :spoken_languages %>
	<label for="user_university">University:</label>
	<%= f.text_field :university %>
	<label for="user_degree">Degree program:</label>
	<%= f.select :degree, User::DEGREE.reverse %>
	<hr/>

	<label for="user_past_conferences">Past conferences you have attended:</label>
	<%= f.text_field :past_conferences %>
	<br/>
	<label for="user_past_sv">Past conferences you have attended as SV:</label>
	<%= f.text_field :past_sv %>
	<hr/>

	<label for="user_tshirt_size_id">Tshirt size:</label>
	<%= f.select :tshirt_size_id, TshirtSize.all, !@user.tshirt_size_id %>
	<hr/>

	<label for="enroll_status">Enrollment Status:</label>
	<select id="enroll_status" name="enroll_status">
		<%= select_options status_options, @enroll ? @enroll.status : 0 %>
	</select>
	
	<div class="buttons">
<% if @user.new_record? -%>
		<%= submit_tag 'Create User' %>
<% else -%>
		<%= submit_tag 'Update User' %>
		<input type="button" value="Delete" disabled="disabled"/>
<% end -%>
		<input type="button" value="Close" onclick="$('user_edit').hide()"/>
	</div>
<% end %>
</div>