<%= content_tag :script, 'Tooltip.init();' %>
<h1>Assigned tasks</h1>
<% if @assignments.empty? -%>

<p>You are not assigned for any tasks.</p>
<% else -%>
<table id="assignments">
<% observe -%>
<% @assignments.each do |assignment| -%>
<% if has_changed? assignment.task.day %>
	<tr>
		<th colspan="3" class="separator"><%= @conference.day assignment.task.day %></th>
	</tr>
<% end -%>
	<tr>
<% if assignment.task.day == 0 -%>
		<%= tooltip :td, '%s hours' % assignment.hours, assignment.comment, :class => 'hours n' %>
<% else -%>
		<%= tooltip :td, '%s - %s (%s)' % [assignment.task.start_time, assignment.task.end_time, assignment.hours], 
			assignment.comment, :class => 'hours n' %>
<% end -%>
		<%= tooltip(:td, assignment.task.name, assignment.task.description) %>
		<td class="status s<%= assignment.status %>"><%= assignment.status_name %></td>
	</tr>
<% end -%>
</table>

<div class="space"></div>

<table>
	<tr>
		<th colspan="2">Hours Overview</th>
	</tr>
	<tr>
		<td>Assigned:</td>
		<td><%= @enroll.hours_assigned %></td>
	</tr>
	<tr>
		<td>Done:</td>
		<td><%= @enroll.hours_done %></td>
	</tr>
	<tr>
		<td>Total:</td>
		<td><%= @enroll.hours_total %></td>
	</tr>
</table>
<% end %>