<h1><% if @tasktype.new_record? %>Create new task type<% else %>Edit task type<% end %></h1>

<%= validation_box @tasktype %>

<div class="form">
<% form_for 'tasktype' do |f| %>
	<label for="tasktype_name">Name:</label>
	<%= f.text_field :name %>
	<label for="tasktype_description">Description:</label>
	<%= f.text_area :description %>
	<label for="tasktype_category">Category:</label>
	<%= collection_select(:tasktype, :category_id, @conference.categories, :id, :name) %>
	<div class="buttons">
<% if @tasktype.new_record? -%>
		<%= f.submit 'Create Task Type' %>
<% else -%>
		<%= f.submit 'Update Task Type' %>
		<input type="button" value="Delete" onclick="if(confirm('Are you sure you want to delete this task type? All task types in it will be deleted as well.')) { new DeleteTasktype(this,'<%= @tasktype.id %>'); }"/>
<% end -%>
<% if request.xhr? -%>
		<input type="button" value="Close" onclick="$('edit').hide()"/>
<% end -%>
	</div>
<% end %>
</div>