	<div class="box">
		<div class="title">Actions</div>
<% if @admin_user.admin? -%>
		<%= selectable_link_to 'Edit', controller.action_name == 'edit', :action => 'edit' %>
		<%= selectable_link_to 'Configure Lottery', params[:action] == 'lottery_config', :action => 'lottery_config' %>
		<%= selectable_link_to 'Run Lottery', params[:action] == 'lottery', :action => 'lottery' %>
		<%= selectable_link_to 'Dump Database', params[:action] == 'dump', :action => 'dump' %>
		<%= selectable_link_to 'Export Assignments', params[:action] == 'export', :action => 'export' %>
		<%= selectable_link_to 'Import Assignments', params[:action] == 'import', :action => 'import' %>
<% end -%>
		<%= selectable_link_to 'Export Tasks', params[:action] == 'export_tasks', :action => 'export_tasks' %>
		<%= selectable_link_to 'Import Tasks', params[:action] == 'import_tasks', :action => 'import_tasks' %>
	</div>