<h1>Configure Lottery</h1>
<p>
	The lottery is used to assign lottery numbers to students. The students with the lowest lottery 
	numbers (1-<%= @conference.volunteers %>) are accepted to the conference and the remaining students 
	(&gt;<%= @conference.volunteers %>) are put on the waitlist according to their lottery numbers.
</p>
<p>
	You can configure the lottery to give students matching a certain profile a higher chance of
	winning (getting a low lottery number). This is realized through the number of tickets granted
	to each student in the lottery (more tickets = higher chance).
	By default each student gets one ticket.
</p>
<p>
	You can grand additional tickets for students fulfilling certain requirements below. Just indicate
	below how many extra tickets you want to grant for the student answering each question Yes or No.
	You can also define what requirements must be fulfilled 
	(all other students will be moved to the back of the waitlist).
</p>
<p>
	You can review the ticket count for individual students on the 
	<%= link_to 'Enrollment page', :controller => :enrollment %>
</p>

<hr/>

<div class="lotteryform">
<% form_for :lottery_config, :class => 'lotteryform' do |f| %>
	<label for="lottery_config[local_experience]">Student is local</label>
	<%= f.select :local_experience, lottery_config_select_options %>
	<label for="lottery_config[past_conferences_this]">Student has attended this conference before</label>
	<%= f.select :past_conferences_this, lottery_config_select_options %>
	<label for="lottery_config[past_sv_this]">Student been an SV at this conference before</label>
	<%= f.select :past_sv_this, lottery_config_select_options %>
	<label for="lottery_config[visa]">Student has a VISA for the conference</label>
	<%= f.select :visa, lottery_config_select_options %>
	<label for="lottery_config[degree]">Grant extra tickets by student program:<br/>
		(PhD=3, Master=2, Bachelor=1)</label>
	<%= f.select_yesno :degree %>
	<br/>
	<label for="lottery_config[reason]">Ask students to motivate their enrollment</label>
	<%= f.select_yesno :reason %>

	<p>&nbsp;</p>
	<p><%= f.submit 'Save' %></p>
<% end %>
</div>