	<tr>
		<td><%= link_to_update user.last_name, 'user_edit', :action => 'edit', :id => user.id, :search => @search %></td>
		<td><%= user.first_name %></td>
		<td><%= user.email %></td>
		<td><%= user.country %></td>
		<td><%= user.university %></td>
	</tr>