<h1>News</h1>

<div id="news">
<% if @news.empty? -%>
	<p>Welcome to the <%= @conference %></p>
<% else -%>
<% @news.each do |news| -%>
	<div id="news_<%= news.id %>" class="news">
		<p class="header"><%= news.title %></p>
		<p><%= markup news.text %></p>
	</div>
<% end -%>
	<%= will_paginate @news %>
<% end -%>
</div>