<h1>Change Password</h1>

<%= validation_box @user %>

<div class="form">
<% form_for 'user' do |f| %>
	<label for='user_password_old'>Current Password:</label>
	<%= f.password_field :password_old %>
	<label for='user_password'>New Password:</label>
	<%= f.password_field :password %>
	<label for='user_password'>New Password (again):</label>
	<%= f.password_field :password_confirmation %>
	<%= submit_tag 'Change Password', :class => 'button' %>
<% end %>
</div>