<!DOCTYPE html>
<html>
<head>
  <title>Svportal</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Student Volunteers Portal<% if @conference %> - <%= @conference.name %><% end %></title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.png" type="image/png" />
	<%= stylesheet_link_tag 'client', :media => 'screen' %>
	<%= javascript_include_tag :all %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="all">
	
<div id="nav">
<%= render :partial => 'layouts/nav' %>
</div>

<div id="main">
<%= yield %>
</div>

<div id="footer">
	Help us improve the Student Volunteer Portal! Join the
	<a href="http://svportal.rubyforge.org" alt="SV Portal Rubyforge Project" target="rubyforge">Rubyforge project</a>.
</div>

	</div>
</body>
</html>