<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Student Volunteers Portal<% if @conference %> - <%= @conference.name %><% end %></title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.png" type="image/png" />
	<%= stylesheet_link_tag 'client', :media => 'screen' %>
	<%= javascript_include_tag :all %>
</head>
<body>
	<div id="all">
	
<div id="nav">
<%= render :partial => 'layouts/nav' %>
</div>

<div id="main">
<%= yield %>
</div>

<div id="footer">
	Help us improve the Student Volunteer Portal! Find the code on 
	<a href="https://github.com/jdiehl/svportal/" alt="SV Portal GitHub Project" target="_new">GitHub</a> and report issues <a href="https://github.com/SVHub/SVHub/issues" alt="SV Portal GitHub Issues" target="_new">here</a>.
</div>

	</div>
</body>
</html>
